body{
    text-align: center;
    margin: 100px 0;
}

#resultsNum{
    width: 37px;
    margin: 0 10px 0 0;
}

#search-results{
    text-align: left;
    margin: 30px 200px 0 40px;
}

label{
    max-width: 400px;
    display: inline-block;
}

form{
    max-width
}